* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    /* box-sizing: border-box; */
}

/* 设置百分百宽度 */
html,
body {
    width: 100%;
    height: 100%;

}

/* 给大盒子添加背景颜色 */
.box {
    width: 100%;
    background-color: rgb(234, 230, 230);


}

/* 顶部通栏 */
.box .dingbu1 {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid rgb(111, 111, 111);
}

/* 设置顶部通栏宽度 */
.box .dingbu {
    width: 1200px;
    margin: auto;
    height: 30px;
    /* background-color: aqua; */
    font: 12px/30px "";


}

/* 设置a标签字体颜色 */
.box .dingbu a {
    color: black;
}

/* 设置弹性盒子，左浮动 */
.box .dingbu .f1 {
    display: flex;
    float: left;
}

/* 设置左右边距 */
.box .dingbu .dt {
    padding: 0px 15px;
}

/* 右浮动 */
.box .dingbu .fr {
    display: flex;
    float: right;
}

.box .dingbu .f1 .fore1 {
    display: flex;
}

.box .dingbu .f1 .fore1 a:hover {
    color: red;
}

.box .dingbu .fr a:hover {
    color: red;
}

/* pc右侧通栏 */
.box .chenlan {
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 34px;
    z-index: 1000;
    font-size: 12px;


}

.chenlan .form4 {
    display: block;
    width: 34px;
    z-index: 1000;
    height: 510px;
    background-color: #272727;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.chenlan .form4 span {
    display: flex;
    align-items: center;
    width: 34px;

}

.chenlan .form4 a {
    font-size: 24px;
    padding-left: 5px;
    color: yellow;
}


/* 搜索框 */
.box .dingbu2 {
    width: 100%;
    height: 100px;
    background-color: #fff;
}

.box .dingbu2 .w {
    width: 1200px;
    margin: auto;
}

.box .dingbu2 .w .logo {
    position: relative;
    z-index: 12;
    /* float: left; */
    width: 290px;
    height: 60px;
    padding: 20px 0;
    margin-left: 110px
}

.box .dingbu2 .w .search {
    position: relative;
    top: -66px;
    left: 456px;
    z-index: 11;
    float: left;
    width: 462px;
    margin-top: 25px
}

.box .dingbu2 .w .search input {
    float: left;
    width: 370px;
    /* height: 24px; */
    line-height: 24px;
    color: black;
    margin-bottom: 4px;
    padding: 4px;
    border: 1px solid red;
}

.box .dingbu2 .w .search button {
    float: left;
    width: 82px;
    height: 34px;
    background: red;
    line-height: 1px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.box .dingbu2 .w .xiaolun {

    float: right;
    width: 210px;
    height: 70px;
    margin-right: 20px;
    margin-top: 15px;
}

.box .dingbu2 .w .xiaolun .bo {
    display: flex;
    overflow: hidden;
    position: relative;
    left: 0px;
    top: -55px;
    z-index: 5;
}

.box .dingbu2 .w .wengzhi {
    float: left;
    width: 462px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    font-family: "宋体";
    font-size: 12px;

}

.box .dingbu2 .w .wengzhi a {

    color: black;
}

.box .dingbu2 .w .wengzhi a:hover {

    color: red;
}

/* 导航栏 */
.box .daohang {
    width: 100%;
    position: sticky;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 30px;
    z-index: 6660;
    flex-direction: column;
}

.box .zhuangshi {
    width: 100%;
    height: 30px;
    background-color: black;
    margin-bottom: -30px;


}

.box .daohang .tboka {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 1200px;
    height: 39px;
    margin: auto;
    background-color: black;
    cursor: pointer;
    display: flex;


}

/* 二级导航 */
.box .daohang .tboka .shangping ul {
    width: 213px;
    height: 39px;
    background-color: red;
    text-align: center;


}

.box .daohang .tboka .shangping ul a {
    display: block;
    height: 39px;
    line-height: 38px;
    color: #fff;
    font-size: 15px;
    font-weight: normal;

}


.box .daohang .tboka .shangping ul .qbuerji {
    display: none;
    position: absolute;
    width: 213px;
    background-color: black;
    height: auto;
}

.box .daohang .tboka .shangping ul:hover .qbuerji {
    display: block;
}

.box .daohang .tboka .shangping ul .qbuerji b {
    margin: 10px;
    float: left;
    color: #fff;
}

.box .daohang .tboka .shangping .qbuerji span {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */
    float: left;
    margin: 0px 5px;
    color: #FFFFFF;
}

.box .daohang .tboka .shangping .qbuerji span a {

    display: block;
    float: left;
    margin-right: 5px;
    font-size: 12px;
    /* line-height: 15px; */
}

/* 一级导航 */
.box .daohang .tboka .erji {
    width: 987px;
    height: 39px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(8, 8, 8);
    align-items: center;
}

.box .daohang .tboka .erji li {
    width: 110px;
    height: 39px;

}

.box .daohang .tboka .erji li a {
    color: #fff;
    display: block;
    line-height: 39px;
    text-align: center;
}

.box .daohang .tboka .erji li a:hover {
    background-color: #FFFFFF;
    color: #c1111c;
}

/* 二级导航 */
.box .daohang .tboka .erji .erji2 {
    background: #fff;
    display: none;
    border: 1px #eee solid;
    height: 345px;
    width: 635px;
    box-shadow: 0 0 3px #ddd;
    z-index: 99;
    position: absolute;
    top: 39px;
    left: 250px;
}

.box .daohang .tboka .erji li:hover .erji2 {
    display: block;
}

.box .daohang .tboka .erji .erji2 a {
    float: left;
    display: block;
    margin-top: 18px;
    padding: 0 10px 0 20px;


}

.box .daohang .tboka .erji .erji2 ul {
    float: left;
    /* padding: 20px 15px 20px 10px; */
    width: 395px;

}

.box .daohang .tboka .erji .erji2 ul li {
    width: 395px;
    height: 30px;
}

.box .daohang .tboka .erji .erji2 ul li a {
    color: #333;
    margin-right: -10px;
    line-height: 25px;
    font-size: 15px;
}


.box .daohang .tboka .erji .erji2 ul li h4 .bbb {
    width: 98%;
    height: 20px;
    float: left !important;
    color: #b61d1d;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 4px;
    border-bottom: 1px dashed #939393;

}

/* 二级导航 */
.box .daohang .tboka .erji .erji3 {
    background: #fff;
    display: none;
    border: 1px #eee solid;
    height: 345px;
    width: 635px;
    box-shadow: 0 0 3px #ddd;
    z-index: 99;
    position: absolute;
    top: 39px;
    left: 450px;
}

.box .daohang .tboka .erji li:hover .erji3 {
    display: block;
}

.box .daohang .tboka .erji .erji3 a {
    float: left;
    display: block;
    margin-top: 18px;
    padding: 0 10px 0 20px;


}

.box .daohang .tboka .erji .erji3 ul {
    float: left;
    /* padding: 20px 15px 20px 10px; */
    width: 395px;

}

.box .daohang .tboka .erji .erji3 ul li {
    width: 395px;
    height: 30px;
}

.box .daohang .tboka .erji .erji3 ul li a {
    color: #333;
    margin-right: -10px;
    line-height: 25px;
    font-size: 15px;
}

.box .daohang .tboka .erji .erji3 ul li h4 .bbb {
    width: 98%;
    height: 20px;
    float: left !important;
    color: #b61d1d;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 4px;
    border-bottom: 1px dashed #939393;

}

/* 二级导航 */
.box .daohang .tboka .erji .erji4 {
    background: #fff;
    display: none;
    border: 1px #eee solid;
    height: 345px;
    width: 635px;
    box-shadow: 0 0 3px #ddd;
    z-index: 99;
    position: absolute;
    top: 39px;
    left: 550px;
}

.box .daohang .tboka .erji li:hover .erji4 {
    display: block;
}

.box .daohang .tboka .erji .erji4 a {
    float: left;
    display: block;
    margin-top: 18px;
    padding: 0 10px 0 20px;


}

.box .daohang .tboka .erji .erji4 ul {
    float: left;
    /* padding: 20px 15px 20px 10px; */
    width: 395px;

}

.box .daohang .tboka .erji .erji4 ul li {
    width: 395px;
    height: 30px;
}

.box .daohang .tboka .erji .erji4 ul li a {
    color: #333;
    margin-right: -10px;
    line-height: 25px;
    font-size: 15px;
}

.box .daohang .tboka .erji .erji4 ul li h4 .bbb {
    width: 98%;
    height: 20px;
    float: left !important;
    color: #b61d1d;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 4px;
    border-bottom: 1px dashed #939393;

}

/* 二级导航 */
.box .daohang .tboka .erji .erji5 {
    background: #fff;
    display: none;
    border: 1px #eee solid;
    height: 345px;
    width: 635px;
    box-shadow: 0 0 3px #ddd;
    z-index: 99;
    position: absolute;
    top: 39px;
    left: 650px;
}

.box .daohang .tboka .erji li:hover .erji5 {
    display: block;
}

.box .daohang .tboka .erji .erji5 a {
    float: left;
    display: block;
    margin-top: 18px;
    padding: 0 10px 0 20px;


}

.box .daohang .tboka .erji .erji5 ul {
    float: left;
    /* padding: 20px 15px 20px 10px; */
    width: 395px;

}

.box .daohang .tboka .erji .erji5 ul li {
    width: 395px;
    height: 30px;
}

.box .daohang .tboka .erji .erji5 ul li a {
    color: #333;
    margin-right: -10px;
    line-height: 25px;
    font-size: 15px;
}

.box .daohang .tboka .erji .erji5 ul li h4 .bbb {
    width: 98%;
    height: 20px;
    float: left !important;
    color: #b61d1d;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 4px;
    border-bottom: 1px dashed #939393;

}

/* 二级导航 */
.box .daohang .tboka .erji .erji6 {
    background: #fff;
    display: none;
    border: 1px #eee solid;
    height: 345px;
    width: 635px;
    box-shadow: 0 0 3px #ddd;
    z-index: 99;
    position: absolute;
    top: 39px;
    left: 750px;
}

.box .daohang .tboka .erji li:hover .erji6 {
    display: block;
}

.box .daohang .tboka .erji .erji6 a {
    float: left;
    display: block;
    margin-top: 18px;
    padding: 0 10px 0 20px;


}

.box .daohang .tboka .erji .erji6 ul {
    float: left;
    /* padding: 20px 15px 20px 10px; */
    width: 395px;
    display: flex;
    flex-direction: column;
}

.box .daohang .tboka .erji .erji6 ul li {
    width: 395px;
    height: 30px;
}

.box .daohang .tboka .erji .erji6 ul li a {
    color: #333;
    margin-right: -10px;
    line-height: 25px;
    font-size: 15px;
}

.box .daohang .tboka .erji .erji6 ul li h4 a {
    width: 100px;
    height: 20px;
    color: #b61d1d;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 4px;



}

/* 轮播图1 */
/*大盒子*/
.box .lunbotu.lunbo {
    width: 100%;
    height: 650px;
    background-color: pink;
    position: relative;
    margin: 50px auto;

}

/*图片大小*/
.box .lunbotu img {
    width: 100%;
    height: 650px;
}

/* 文本信息
#text {
    width: 500px;
    height: 40px;
    font-size: 20px;
    font-family: "楷体";
    text-align: center;
    line-height: 40px;
    background-color: #40E0D0;
    opacity: 0.5;
    color: #000000;
    position: absolute;
    left: 0px;
    bottom: 0px;
} */

/*左右箭头*/
.box .lunbotu #left,
#right {
    width: 30px;
    height: 30px;
    font-size: 20px;
    font: 16px/30px "楷体";
    text-align: center;
    position: absolute;
    background-color: #012925;
    opacity: 0.5;
    color: #FFFFFF;

}

/*定位信息*/
.box .lunbotu #left {
    position: absolute;
    top: 400px;
    /* bottom: 3px; */
    left: 50px;
    z-index: 3;
    display: none;
}



.box .lunbotu #right {
    position: absolute;
    top: 400px;
    /* bottom: 0px; */
    right: 50px;
    z-index: 3;
    display: none;
}

/* 第二个轮播图 */
.box .lunbotu2 {
    width: 100%;
    height: 538px;

}

.box .lunbotu2 .datu {
    width: 100%;
    overflow: hidden;
    display: flex;
    position: absolute;
    left: 0px;
}

.box .lunbotu2 .datu img {
    width: 393px;
    height: 538px;
}

/* 动画 */
.box .dibudonhua {
    position: relative;
    width: 100%;
    height: 560px;
    text-align: center;
    overflow: hidden;
}

.box .dibudonhua .dontu {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
    transition: opacity 0.3s ease 0s;
}

.box .dibudonhua .xiaotu {
    position: absolute;
    left: 260px;
    right: 0px;
    top: 140px;
    text-align: center;
    font-size: 16px;
    white-space: normal;
    width: 100%;
    margin: auto;
}

.box .dibudonhua .biaodan {
    position: absolute;
    top: 242px;
    left: 0px;
    right: 230px;
    width: 800px;
    color: aliceblue;
    text-align: center;
    margin: auto;
    transform: translateX(50%);
    height: 56px;
    z-index: 2;
}

.box .dibudonhua .biaodan input {
    width: 700px;
    float: left;
    box-sizing: border-box;
    border-right-width: initial;
    border-left-width: initial;
    border-right-color: initial;
    border-left-color: initial;
    font-size: 20px;
    height: 56px;
    color: rgb(31, 31, 31);
    cursor: auto;
    font-weight: bold;
    caret-color: rgb(234, 67, 53);
    outline: none;
    background: rgb(255, 255, 255);
    border-style: none;
    border-image: initial;
    border-top: 4px solid transparent;
    padding: 0px 80px 0px 30px;
    transition: border-bottom-color 0.3s ease 0s;
}

.box .dibudonhua .biaodan button {
    float: left;
    width: 82px;
    height: 56px;
    background: rgb(234, 67, 53);
    border: none;
    line-height: 1;
    color: #fff;
    font-family: ""Microsoft YaHei"";
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

/* 底部详情页 1联系方式等 公司简介*/
.box .shohofuw {
    margin-top: 20px;
    width: 100%;
}

.box .shohofuw .lxi {
    height: 172px;
    width: 1200px;
    margin: auto;

}

.box .shohofuw .lxi dl {
    display: inline-block;
    margin: 0;
    width: 900px;
    border-right: 1px dashed #ddd;
    overflow: hidden;
    float: left;
    padding-left: 20px;
    display: flex;
    justify-content: space-around;


}

.box .shohofuw .lxi dl dd {

    display: inline-block;
    float: left;
    width: 215px;
    display: flex;
    flex-direction: column;
}

.box .shohofuw .lxi dl dd a {
    font: 12px/20px "";
    color: rgb(95, 88, 88);
}

.box .shohofuw .lxi .jang {
    float: left;
    width: 200px;
    margin: 8px 0 0 50px;
}

.box .shohofuw .lxi .jang h2 {
    width: 200px;
    font-size: 22px;
    color: #c1111c;
}

/* 间隔图片 */
.box .shohofuw .lxi .jang p {
    width: 200px;
    font-size: 16px;
    margin: 15px 0;
}

.box .shohofuw .lxi .jang a {
    display: block;
    width: 122px;
    height: 32px;
    background: url(http://xtep.com.cn/webcommon/images/yiqigou_w/zxkf1.png) no-repeat;
    background-size: 100%
}

.box .hyzx {
    width: 100%;
    background-color: black;
    height: 45px;
}

.box .hyzx .dibu {
    width: 1200px;
    margin: auto;
    height: 45px;
    position: relative;
}

.box .hyzx .dibu img {
    width: 1200px;
    margin: auto;
    height: 45px;
    position: absolute;
    top: 0px;
    left: 0px;

}

/* 底部详情2，备案号等 */
.box .guangyuteb {
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    padding: 30px 0;
    margin-top: -6px;
    color: #939393;

}

.box .guangyuteb a {
    color: #939393;
}

.box .guangyuteb .dibutonlang ul {
    display: flex;
    justify-content: center;

}

.box .guangyuteb .aside {
    padding: 20px 0 50px;
    margin-top: 25px;
    border-top: 1px solid #ebebeb;
    clear: both
}

/* 首页最后的图片 */
.box .guangyuteb .ww {
    width: 1200px;
    margin: 0 auto;
}

/* 登入页面css样式 */
.box .zhuche {
    position: relative;
    width: 100%;
    height: 460px;
    /* 背景图 */
    background: url(http://login.xtep.com.cn/util/Images/login_bg.jpg) center no-repeat;
}

/* 登入样式 */
.box .zhuche .dengru {
    padding: 15px;
    width: 300px;
    position: absolute;
    right: 350px;
    top: 70px;
    background: #fff;
    height: 300px;
    overflow: hidden;
    color: #9b9b9b;
}

.box .zhuche .dengru .yonhu {
    padding: 15px 30px 5px 10px;
    font-size: 16px;
    font-family: "微软雅黑";
    font-weight: bolder;
}

.box .zhuche .dengru .yonhu a {
    color: #fe7c31;
    float: right;
    font-size: 12px;
    font-weight: normal;
    line-height: 32px;
    font-family: "微软雅黑";
}

/* 账户输入框样式 */
.box .zhuche .yonhudengrubiaodan .xx1 {
    width: 260px;
    margin-left: 10px;
    height: 29px;
    border: 1px solid #dcdcdc;
    line-height: 29px;
    color: #7a7a7a;
    text-indent: 24px;
    border-radius: 3px;
    background: url(http://login.xtep.com.cn/util/images/newsite/username.gif) no-repeat left;
}

/* 密码输入框 */
.box .zhuche .yonhudengrubiaodan .xx2 {
    width: 260px;
    margin-left: 10px;
    height: 29px;
    border: 1px solid #dcdcdc;
    line-height: 29px;
    color: #7a7a7a;
    text-indent: 24px;
    border-radius: 3px;
    background: url(http://login.xtep.com.cn/util/images/newsite/password.gif) no-repeat left;
}

.box .zhuche .yonhudengrubiaodan a {

    float: right;
    color: #666666;
    margin-right: 30px;
    margin-bottom: 20px
}

/* 登入按钮样式 */
.box .zhuche .yonhudengrubiaodan button {

    display: inline-block;
    background: #B61D1D;
    font-family: "微软雅黑";
    border-radius: 8px;
    color: #fff;
    border: none;
    width: 260px;
    height: 33px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
}

/* 注册样式，背景图 */
.box .kuaishuzhuche {
    position: relative;
    width: 100%;
    height: 460px;
    background: url(http://login.xtep.com.cn/util/Images/login_bg.jpg) center no-repeat;
    font-size: 12px;
    color: #9b9b9b;
}

/* 注册栏样式 */
.box .kuaishuzhuche .zhucheye {
    border: 3px solid #dcdcdc;
    z-index: 1000;
    background: #fff;
    position: absolute;
    top: 15px;
    left: 320px;
    height: 440px;
    width: 940px;

}

/* 设置左边样式 */
.box .kuaishuzhuche .zhucheye .rigth-zhuche {
    padding: 45px 80px 0px 120px;
    border-right: 1px solid #dcdcdc;
    width: 350px;
    overflow: hidden;
    height: 400px;
    float: left;

}

.box .kuaishuzhuche .zhucheye .rigth-zhuche h2 {
    padding: 15px 30px 5px 10px;
    font-size: 16px;
    font-family: "微软雅黑";
    font-weight: bolder;

}

/* 设置文字偏移 */
.box .kuaishuzhuche .zhucheye .rigth-zhuche li {
    text-align: right;
}

/* 设置输入框的大小 */
.box .kuaishuzhuche .zhucheye .rigth-zhuche input {
    line-height: 30px;
    width: 220px;
    background: #fff;
    border: 1px solid #ddd;
    text-indent: 6px;
    color: #444;
    margin-top: 2px;
}

/* 设置*的样式 */
.box .kuaishuzhuche .zhucheye .rigth-zhuche i {
    color: #c40000;
    font-size: 14px;
    margin: 0px 10px;
}

/* 注册按钮的样式 */
.box .kuaishuzhuche .zhucheye .rigth-zhuche li button {
    display: inline-block;
    background: #B61D1D;
    font-family: "微软雅黑";
    border-radius: 8px;
    color: #fff;
    border: none;
    width: 260px;
    height: 33px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
}

/* 设置已有账户样式 */
.box .kuaishuzhuche .zhucheye .bailan {
    height: 400px;
    color: #666;
    margin-left: 600px;
    margin-top: 60px;
}

.box .kuaishuzhuche .zhucheye .bailan button {
    display: inline-block;
    background: #B61D1D;
    font-family: "微软雅黑";
    border-radius: 8px;
    color: #fff;
    border: none;
    width: 260px;
    height: 33px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
}

/* 左边列表页css样式 */
.box .liebiao {
    margin: 20px auto;
    position: relative;
    width: 1200px;
    display: flex;
}

.box .liebiao .left-liebio {
    width: 210px;
    background: #fff;
    border: 1px solid #dfdfdf;
}

.box .liebiao .left-liebio h3 {
    border-bottom: 1px solid #eeeeee;
    padding-left: 15px;
}

.box .liebiao .left-liebio span {
    height: 37px;
    line-height: 38px;
}

.box .liebiao .left-liebio .left-xiaoliang li {
    clear: both;
    height: 300px;
    border-bottom: 1px dashed #e2e2e2;
    margin-top: 10px;
    position: relative;
    text-align: center;
}

.box .liebiao .left-liebio .left-xiaoliang li .paihan1 {
    background: url(https://shop.xtep.com.cn/util/images/newsite/paihan1.png);
    background-size: 100% 100%;

}

.box .liebiao .left-liebio .left-xiaoliang li .ph {
    width: 61px;
    height: 61px;
    position: absolute;
    right: 0px;
    top: 0px;


}

.box .liebiao .left-liebio .left-xiaoliang .left-con img {
    width: 180px;

}

.box .liebiao .left-liebio .left-xiaoliang .left-xiaoqing {
    width: 152px;
    margin: auto;
    height: 45px;

}

.box .liebiao .left-liebio .left-xiaoliang .left-xiaoqing a {
    text-align: center;
    color: #696969;
    height: 35px;
    overflow: hidden;
    display: block;
    font-size: 12px;
}

.box .liebiao .left-liebio .left-xiaoliang .con-jiage {
    color: #e4393c;
    font-weight: bold;
    font-family: verdana;
    font-size: 14px;
    height: 22px;
    text-align: left;
}

.box .liebiao .left-liebio .left-xiaoliang .con-xiaosho {
    color: #3f3f3f;
    height: 22px;
    font-size: 12px;
    text-align: left;
}

.box .liebiao .left-liebio .left-xiaoliang .con-xiaosho span {
    color: #f0b43a;
    font-weight: bold;

}

.box .liebiao .left-liebio .left-xiaoliang li .paihan2 {
    background: url(https://shop.xtep.com.cn/util/images/newsite/paihan2.png);
    background-size: 100% 100%;

}

.box .liebiao .left-liebio .left-xiaoliang li .paihan3 {
    background: url(https://shop.xtep.com.cn/util/images/newsite/paihan3.png);
    background-size: 100% 100%;

}

.box .liebiao .left-liebio .left-xiaoliang li .paihan4 {
    background: url(https://shop.xtep.com.cn/util/images/newsite/paihan4.png);
    background-size: 100% 100%;

}

.box .liebiao .left-liebio .left-xiaoliang li .paihan5 {
    background: url(https://shop.xtep.com.cn/util/images/newsite/paihan5.png);
    background-size: 100% 100%;

}

.box .liebiao .left-liebio .left-xiaoliang li .paihan6 {
    background: url(https://shop.xtep.com.cn/util/images/newsite/paihan6.png);
    background-size: 100% 100%;

}

/* 右边列表页css样式 */
.box .liebiao .rigth-liebiao {
    position: relative;
    width: 966px;
    margin-left: 20px;
    /* background: #fff; */


}

/* .box .liebiao .rigth-liebiao .rigth-fengl{
  height: 200px;
 
    
 } */
.box .liebiao .rigth-liebiao .rigth-fengl .fenglai {
    background-color: #fff;
    margin-bottom: 1px;
    height: 40px;
}

.box .liebiao .rigth-liebiao .rigth-fengl .fenglai li {
    padding: 10px;
    /* overflow: hidden; */
    zoom: 1;
    height: 30px;
    line-height: 26px;
    float: left;
}

.box .liebiao .rigth-liebiao .rigth-fengl .fenglai li a {
    line-height: 30px;
    padding: 0 20px;
    display: inline-block;
    font-family: "微软雅黑";
    color: #012925;
    font-size: 12px;
}

.box .liebiao .rigth-liebiao .rigth-fengl .fenglai li .toggIcon {
    display: inline-block;
    width: 10px;
    height: 7px;
    background: url(https://shop.xtep.com.cn/util/images/icon1.png) no-repeat center;
    background-size: 100% 100%;
    margin-left: -10px;
}

.box .liebiao .rigth-liebiao .rigth-fengl .fenglai .feng {
    color: #999;
    height: 100%;
    background: #fafafa;
    font-size: 14px;

}

.box .liebiao .rigth-liebiao .rigth-fengl .fenglai .rigth-erji {
    position: absolute;
    display: none;
    z-index: 100;
    text-align: center;
    top: 40px;
    left: 2px;
    right: 2px;
    background: #fff;
    -webkit-box-shadow: 0 0 4px #ccc;
    -moz-box-shadow: 0 0 4px #ccc;
    box-shadow: 0 0 4px #ccc;

}

.box .liebiao .rigth-liebiao .rigth-fengl .fenglai .rigth-erji a {
    float: left;
    margin-right: 40px;
    color: #333;
    text-decoration: none;
    max-width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box .liebiao .rigth-liebiao .rigth-fengl .fenglai a:hover {
    color: red;
}

.box .liebiao .rigth-liebiao .rigth-fengl .fenglai .yangshi:hover .rigth-erji {
    display: block;
}

.box .liebiao .rigth-liebiao .rigth-fengl .fenglai .yangshi:hover .toggIcon {
    background: url(https://shop.xtep.com.cn/util/images/icon2.png) no-repeat center;
}

.box .liebiao .rigth-liebiao .sequence {
    background: #fff;
    border: 1px solid #ddd;
    padding: 13px 15px;
    margin-top: 15px;
    margin-bottom: 15px;

}

.sequence_all {
    float: right;
    /* line-height: 20px; */
}

.sequence_all strong {
    margin: 0px 2px;
    color: #c40000;
}

.sequence_pai a {
    text-align: center;
    padding: 3px 6px;
    margin: 0 5px;
    color: #333333;
    background: #f2f2f2;

}

/* 商品页 */
.box .liebiao .rigth-liebiao .pagination {
    width: 800px;
    height: 40px;
    border: 1px solid pink;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.box .liebiao .rigth-liebiao .caption h4,
.breadcrumb {
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
}

.box .liebiao .rigth-liebiao .caption .ccc {
    display: flex;
    justify-content: center;
}

/* 详情页 */
.box .xiangqingyeshoye {
    width: 1200px;
    margin: 20px auto;
}

.box .xiangqingyeshoye .fengleye {
    margin-bottom: 10px;

    height: 30px;
    line-height: 24px;
    padding-bottom: 5px;
    border-bottom: none;
    font-size: 14px;
    position: relative;

}

.box .xiangqingyeshoye .fengleye a {

    color: black;
    font-size: 14px;
}

.box .xiangqingyeshoye .fengleye a:hover {
    color: red;
}

.box .xiangqingyeshoye .xianqing-tup {
    min-height: 580px;
    padding: 20px;
    background: #fff;
    /* display: flex; */
}

.box .xiangqingyeshoye .xianqing-tup .jqzoom {
    width: 500px;

    border: none;
    float: left;
}

.box .xiangqingyeshoye .xianqing-tup .jqzoom .jqzoom-tup {

    border: 1px solid #dfdfdf;
    float: left;
    position: relative;
    padding: 0px;
    cursor: pointer;
}

.box .xiangqingyeshoye .xianqing-tup .jqzoom .jqzoom-tup .mark {
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    display: none;
}

.box .xiangqingyeshoye .xianqing-tup .jqzoom .box-rigth1 {
    width: 500px;
    height: 400px;
    position: absolute;
    top: 243px;
    left: 700px;
    z-index: 3;
    overflow: hidden;
    border: 1px solid #dfdfdf;
    display: none;
}

.box .xiangqingyeshoye .xianqing-tup .jqzoom .box-rigth1 img {
    width: 1000px;
    height: 800px;
    position: absolute;
}

.box .xiangqingyeshoye .xianqing-tup .jqzoom .thumb_list {
    float: right;
    width: 70px;
    margin-right: 3px;
}

.box .xiangqingyeshoye .xianqing-tup .jqzoom .thumb_list li {
    width: 76px;
    height: 76px;
    float: none;
    display: inline-block;
    margin-bottom: 10px;
    border: 1px solid #dfdfdf;

}

.box .xiangqingyeshoye .xianqing-tup .jqzoom .thumb_list .bd {
    border: 3px solid red
}

.box .xiangqingyeshoye .xianqing-tup .jqzoom .thumb_list img {
    margin: auto;
    width: 100%;
    height: 100%;

}

.box .xiangqingyeshoye .xianqing-tup .jqzoom.jqzoom .herb_icon {
    margin: 0px;
    width: 400px;
    overflow: auto;
    padding-top: 8px;
    font-size: 12px;
}

.box .xiangqingyeshoye .xianqing-tup .jqzoom.jqzoom .herb_icon a {

    margin-right: 13px;
    color: #000;
}

.box .xiangqingyeshoye .xianqing-tup .jqzoom .herb_icon a:hover {

    color: red;
}

.box .xiangqingyeshoye .xianqing-tup .herb_icon img {
    height: 16px;
    margin-right: 6px;
}

.box .xiangqingyeshoye .xianqing-tup .pro-main1 {

    width: 652px;
    margin-left: 500px;
    margin-right: 0;
    padding: 0px 28px;
}

.box .xiangqingyeshoye .xianqing-tup .pro-tit {

    color: #545454;
    font-size: 22px;
    font-weight: normal;
    line-height: 30px;
    white-space: normal;
}

.box .xiangqingyeshoye .xianqing-tup .xiangqing-mm {
    padding: 15px 0 0;
    background-color: #f7f7f7;
    /* padding: 15px;
    margin-top: 20px; */
    margin-bottom: 10px;
    position: relative;
}

.box .xiangqingyeshoye .xianqing-tup .couponBtn {
    position: absolute;
    right: 80px;
    top: 15px;
}

.box .xiangqingyeshoye .xianqing-tup .member {
    width: auto;
    margin-left: 0;
}

.box .xiangqingyeshoye .xianqing-tup .memberprice {
    color: #ae1f3a;
    font-size: 14px;
}

.box .xiangqingyeshoye .xianqing-tup .memberprice b {
    color: #c40000;
    font-size: 28px;
}

.box .xiangqingyeshoye .xianqing-tup .proTitl {
    display: inline-block;
    color: #444444;
    font-size: 14px;
    line-height: 32px;
    float: left;
    margin-right: 10px;
    margin-left: 15px;
    text-align: justify;
    text-align-last: justify;
}

.box .xiangqingyeshoye .xianqing-tup .code {
    float: right;
    margin-right: 15px;
    position: relative;

}

.main-price {
    margin-bottom: 10px;
    margin-left: 15px;
}


.main-price span.market {
    margin-left: 84px;
    background: #df2d39;
    color: #fff;
    margin-right: 5px;
    padding: 0 5px;
}

.main-price span.marketprice {
    color: #9a9a9a;
    font-size: 14px;
}



.main_lj {
    border-top: 1px dotted #d4d4d4;
    border-bottom: 1px dotted #d4d4d4;
    padding: 10px 0;
}

.main_lj .lj {
    text-align: center;
    width: 150px;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    border-right: 1px solid #e5dfda;
    color: #999;
}


.pro-color {
    overflow: hidden;
    margin-bottom: 10px;
}

.pro-summary span.proTitl {
    display: inline-block;
    color: #444444;
    font-size: 14px;
    line-height: 32px;
    float: left;
    width: 64px;
    margin-right: 10px;
    margin-left: 15px;
    text-align: justify;
    text-align-last: justify;
}

.item.selected {
    border: 1px solid #c40000;
}

.pro-color .item {
    float: left;
    margin-right: 10px;
    /* border: 1px solid #ccc; */
}

.item.selected a {
    color: #c40000;
}

.pro-size {
    margin-bottom: 10px;
    overflow: hidden;
}

.pro-summary span.proTitl {
    display: inline-block;
    color: #444444;
    font-size: 14px;
    line-height: 32px;
    float: left;
    width: 64px;
    margin-right: 10px;
    margin-left: 15px;
    text-align: justify;
    text-align-last: justify;
}

.pro-summary .pro-size .item {
    padding: 2px 8px;
    position: relative;
}

.pro-size .item {
    float: left;
    /* padding: 0 4px; */
    height: 25px;
    /* border: 1px solid #ccc; */
    line-height: 25px;
    text-align: center;
    margin-right: 10px;
}

.pro-summary span.proTitl {
    display: inline-block;
    color: #444444;
    font-size: 14px;
    line-height: 32px;
    float: left;
    width: 64px;
    margin-right: 10px;
    margin-left: 15px;
    text-align: justify;
    text-align-last: justify;
}

element.style {}

.pro-number a.number,
.pro-number a.number:hover {
    width: 35px;
}

a.number {
    color: #666;
    float: left;
    width: 15px;
    height: 32px;
    cursor: default;
    border: 1px solid #dcdcdc;
    text-align: center;
    line-height: 32px;
    text-decoration: none;
}

.pronumber {
    color: #666;
    float: left;
    width: 49px;
    height: 32px;
    border: 1px solid #dcdcdc;
    border-left: none;
    border-right: none;
    text-align: center;
    line-height: 32px;
}

.pro-number a.number.numberplus {
    margin-right: 8px;
}

.pro-number span.num_kc,
.pro-number span.num_kc span {
    float: none;
    margin-right: 0;
}

.pro-number span {
    float: left;
    color: #444444;
    margin-right: 10px;
    line-height: 32px;
    font-size: 14px;
}

.ann .button {
    margin: 15px;
    background-color: red;
    width: 200px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    color: whitesmoke;

}

.ann .button1 {
    margin: 15px;
    background-color: black;
    width: 200px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    color: whitesmoke;

}

.ann .button2 {
    margin: 15px;
    background-color: black;
    width: 200px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    color: whitesmoke;
    display: none;
}

/* 下半部分 */
.box .pro-box-main {
    /* background: #fff; */
    margin: 20px auto;
    width: 1200px;
    margin-bottom: 5px;
}

.pro-right {
    width: 210px;
    float: left;
    border: 1px solid #dfdfdf;
    padding-bottom: 15px;
    background: #fff;
    margin-right: 10px;
}

.pro-right .pro-right-cont {
    margin-bottom: 20px;
    background: #fff;
}

.pro-right .pro-right-cont .title {
    background: #c3121c;
    color: #fff;
    height: 38px;
    line-height: 38px;
    border: none;
    font-size: 14px;
    font-weight: normal;
    width: 100%;
    padding: 0;
    text-align: center;
}

.pro-right-search .cont {
    padding: 20px 10px;
    border-bottom: 1px solid #d3d3d3;
}

.pro-right-search .cont .input {
    width: 100%;
    display: inline-block;
    margin-bottom: 8px;
}

.pro-right-search .cont .input label {
    width: 54px;
    height: 30px;
    line-height: 30px;
    margin-right: 6px;
    font-size: 14px;
    text-align: right;
    float: left;
    display: inline-block;
}

.pro-right-search .cont .input input.in_txt {
    width: 78px;
    padding: 0 10px;
    border: 1px solid #d3d3d3;
}

.pro-right-search .cont .input .in_txt {
    width: 100px;
    height: 28px;
    line-height: 28px;
    float: left;
    font-size: 14px;
}

.pro-right-search .cont .input .in_txt.jg input {
    width: 40px;
    padding: 0 10px;
    border: 1px solid #d3d3d3;
    height: 28px;
    line-height: 28px;
}

.pro-right-search .cont .input .in_txt.jg span {
    width: 16px;
    text-align: center;
    height: 28px;
    line-height: 28px;
    display: inline-block;
}

.pro-right-search .cont .seach {
    display: inline-block;
    margin-left: 60px;
    background: #c3121c;
    color: #fff;
    font-size: 14px;
    width: 42px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
    margin-bottom: 8px;
}

.pro-right .pro-right-cont {
    margin-bottom: 20px;
    background: #fff;
}

.new_pro {
    position: relative;
}

.new_pro img {
    width: 100%;
}

.new_pro p {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-top: -20px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.pro-right-list ul {
    width: 181px;
    text-align: center;
    margin: 10px auto;
    overflow: hidden;
}

.pro-right-list li {
    float: left;
    width: 80px;
    padding: 0 5px;
    height: 24px;
    line-height: 24px;
    color: #585858;
}

.pro-right-list li a {

    color: #585858;
}

.detailso {
    border: 1px solid #e3e3e3;

    border-top: 0;

    overflow: hidden;
    color: #666;
    padding: 30px 0 20px;
    margin-bottom: 10px;
    background: #fff;
}

.detailso li {
    float: left;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    padding-left: 19px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 225px;
}

.mod_main .sp {
    border: 1px solid #e3e3e3;
    padding-top: 15px;
    background-color: white;
    margin-left: 10px;

}

.ov.mod_main.div_1843 table {
    margin: auto;
}

.pro-bottommain {
    margin-left: 220px;
    margin-right: 0;

    width: 970px;

    background: #fff;
}

.mod_H_dian2 {
    border-bottom: 1px solid #dfdfdf;
    height: 41px;
    position: relative;
}

.pro-box-main .mod_H_dian2 .itemHeaderInner {
    border: 1px solid #dfdfdf;
    border-bottom: none;
}

.pro-box-main .mod_H_dian2 .itemHeaderInner span.on {
    border-top-color: #c40000;
}

.pro-box-main .mod_H_dian2 span.tab {
    border-left: 1px solid #dfdfdf;
    border-top: 2px solid transparent;
}

.pro-box-main .mod_H_dian2 .itemHeaderInner span.on {
    border-top-color: #c40000;
}

.mod_H_dian2 .itemHeaderInner span.on a#diva_1843_1865 {
    color: #c40000;
    background-position-y: 0px;
}

.mod_H_dian2 span.tab {
    display: block;
    float: left;
    width: 160px;
    text-align: center;

    height: 38px;
    line-height: 39px;
    margin-left: -1px;

    font-size: 14px;
    font-weight: bold;
    position: relative;
    top: 1px;
}

.pro-box-main .mod_H_dian2 .qrcode {
    padding-right: 15px;
    float: right;
    height: 41px;
    line-height: 41px;
}

.pro-box-main .mod_H_dian2 .qrcode>img {
    margin-left: 10px;
}

.btn-xs {
    width: 150px;
    height: 40px;
    line-height: 35px;
    margin: -55px 0px 0px 100px;
    border-radius: 20px;
    /* float: right; */
}

.container {
    width: 1200px;
    margin: auto;
}

.btn-primary {
    float: right;
}


.media-body {
    width: 840px;
    ;


}

.panel-heading1 span {
    margin-left: 150px;


}

.panel-heading1 {
    padding: 0px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 30px;
    line-height: 30px;
    background-color: #666666;
cursor: pointer;
}

.media-heading {
    width: 150px;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mm-mm {
    display: inline-block;
    width: 55px;
    margin-left: 64px;
}


.mm1 {

    width: 30px;
height: 34px;
}


.btn-group {

    position: relative;
    display: inline-block;
    vertical-align: middle;
    left: 125px;
 
}


.lld {
position: relative;
    float: right;
    height: 50px;
}
.jia-ge{
 position: absolute;
 left: -100px;
 top: 0px;
}
.jia-ge span{
 color: red;
}
.jia-ge1 span{
font-weight:bold;
 color: red;
}